{% extends 'layout/page.html' %}

{% load i18n %}

{% load bootstrap4 %}

{% load static %}

{% block content %}
	<div class="d-flex">
		<div class="right" style="width: 50%;">
	<form id="comment-form" action="{% url 'review' %}" method="post" role="form" style="padding-left: 15%; padding-right: 15%; background: light-grey ; text-align: center;">
		{% csrf_token %}
		<h3>Provide us with your feedback</h3><hr>
		{% bootstrap_form form layout='inline' %}
			<button class="btn btn-success" type="submit">Comment Publicly </button> or <a href="{% url 'submit-review' %}">Send us a Direct Message</a>
	</form>
		</div>
		<div class="left" style="width: 50%; padding-left: 5%; padding-right: 5%; height: 100vh; overflow-y: auto;">
			<h3>Recent Reviews </h3><hr>
	{% for review in reviews %}
			<h5><b>{{review.name}}</b></h5>
			<h6>{{review.posted_at}}</h6>
			<h7> Email : {{review.email}}</h7>
			<div style="background: lightgrey; padding: 2%; border-radius: 10px;"><p>{{review.review}}</p></div><hr>
	{% endfor %}
		</div>
	</div>
{% endblock %}